<div class="col-md-12">

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <div class="container-fluid">
      <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <% if !@movies.first.nil? %>
              <div class="item active">
                  <div class="container-fluid">
                      <div class="row">
                        <a href="<%= movie_path(@movies.last) %>">
                          <div class="top col-md-3 col-xs-6" style="margin-left:60px;"><%= image_tag @movies.first.image_url(:medium).to_s %></div>
                          <div class="content col-md-7 col-xs-12">
                              <h2 class="text-right"><%= @movies.first.title%></h2>
                              <p><%= simple_format(@movies.first.description) %></p>
                          </div>
                        </a>
                      </div>
                  </div>
              </div>
              <% end %>

              <% if !@movies.second.nil? %>
              <div class="item">
                  <div class="container-fluid">
                      <div class="row">
                        <a href="<%= movie_path(@movies.second_to_last) %>">
                          <div class="top col-md-3 col-xs-6" style="margin-left:60px;"><%= image_tag @movies.second.image_url(:medium).to_s %></div>
                          <div class="content col-md-7 col-xs-12">
                              <h2 class="text-right"><%= @movies.second.title%></h2>
                              <p><%= simple_format(@movies.second.description) %></p>
                          </div>
                        </a>
                      </div>
                  </div>
              </div>
              <% end %>

              <% if !@movies.third.nil? %>
              <div class="item">
                  <div class="container-fluid">
                      <div class="row">
                        <a href="<%= movie_path(@movies.third_to_last) %>">
                          <div class="top col-md-3 col-xs-6" style="margin-left:60px;"><%= image_tag @movies.third.image_url(:medium).to_s %></div>
                          <div class="content col-md-7 col-xs-12">
                              <h2 class="text-right"><%= simple_format(@movies.third.title)%></h2>
                              <p><%= @movies.third.description %></p>
                          </div>
                        </a>
                      </div>
                  </div>
              </div>
              <% end %>

          <!-- End Item -->
          </div>
          <a data-slide="prev" href="#custom_carousel" class="izq carousel-control">‹</a>
          <a data-slide="next" href="#custom_carousel" class="der carousel-control">›</a>
          <!-- End Carousel Inner -->

          </div>
      </div>
      <!-- End Carousel -->
  </div>


<div class="col-md-12">

  <%= link_to("New Movie", new_movie_path, class: "btn btn-primary pull-left")%>
  </br>
  <hr/>
  <div class="row">
    <%= render :partial => "movie_item", :collection => @movies, :as => :movie %>
  </div>
</div>
