
<div class="col-md-12">
  <h1 class="text-center"><%=@movie.title%></h1>
  <hr/>
  <div class="group">
    <span class="pull-left">
      <div class="thumbnail"><%= image_tag @movie.image_url(:medium).to_s %></div>

      <% if current_user && current_user.is_member_of?(@movie) %>
        <label class="label label-success"> 已收藏 </label>
        <%= link_to("取消收藏", quit_movie_path(@movie), method: :post, class: "btn btn-sm btn-default") %>
      <% else %>
        <label class="label label-warning"> 未收藏 </label>
        <%= link_to("收藏电影", join_movie_path(@movie), method: :post, class: "btn btn-sm btn-default") %>
      <% end %>

      <%= link_to("Write a Review", new_movie_review_path(@movie), class: "btn btn-sm btn-default") %>

      <% if current_user && current_user == @movie.user %>
        <%= link_to("Edit", edit_movie_path(@movie), class: "btn btn-sm btn-info")%>
        <%= link_to("Delete", movie_path(@movie),    class: "btn btn-sm btn-danger",
              method: :delete, data: { confirm: "Are you sure?" } )%>
      <% end %>
    </span>

    <div class="col-md-7">
      <p><%= render_movie_description(@movie) %></p>
    </div>

  </div>
</div>


<div class="col-md-12" style="margin-top: 30px;">

    <h3 class="review_title">
      <%= @movie.reviews.count %> reviews
    </h3>
    <hr>
    <div id="review">
      <%= render "reviews/review" %>
    </div>


  <table class="table" style="margin-top: 30px;">
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <div class="pull-left">
              <p><small>Submitted <strong><%= time_ago_in_words(review.created_at) %> ago</strong> by <%= review.user.email %></small></p>
              <p><%= review.content %></p>
            </div>

            <div class="btn btn-group btn-default pull-right">
              <% if review.user == current_user -%>
                  <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @reviews %>
  </div>
</div>
