<div class="col-md-12">

  <h2 class="text-center">我收藏的电影</h2>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Review Count</th>
        <th>Last update</th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>
            <a href="<%= movie_path(movie) %>">
              <%= image_tag movie.image_url(:thumb).to_s %>
              <div class="text-center">
                <%= movie.title %>
              </div>
            </a>
          </td>
          <td><%= simple_format(movie.description) %></td>
          <td><%= movie.reviews.count %></td>
          <td><%= movie.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
